# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @fattila1 @Kera73 @SziliCs @aalex94 @eengineer96 @redaxhu

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/Gantt.xlsx @fattila1

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
samples/*  @redaxhu

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
/Readme.md @eengineer96

# In this example, any change inside the `/scripts` directory
# will require approval from @doctocat or @octocat.
/maint.tf @SziliCs @aalex94

# In this example, @octocat owns any file in a `/logs` directory such as
# `/build/logs`, `/scripts/logs`, and `/deeply/nested/logs`. Any changes
# in a `/logs` directory will require approval from @octocat.
/variables.tf @SziliCs @aalex94

# In this example, @octocat owns any file in the `/apps`
# directory in the root of your repository except for the `/apps/github`
# subdirectory, as its owners are left empty.
/ @fattila1 @Kera73 @SziliCs @aalex94 @eengineer96 @redaxhu

